[Container]
Image=docker.io/colonwq/rt5:510-5
ContainerName=rt5
Network=rt5.network
AutoUpdate=registry
PodmanArgs=--rm

HealthCmd=curl -sf -o /dev/null http://127.0.0.1:8080/ || exit 1
HealthInterval=60s
HealthTimeout=10s
HealthRetries=3
HealthStartPeriod=90s
HealthOnFailure=kill

Volume=/store/config/msmtprc:/etc/msmtprc:Z
Volume=/store/config/rt5.conf:/etc/httpd/conf.d/rt5.conf:Z
Volume=/store/config/RT_SiteConfig.pm:/opt/rt5/etc/RT_SiteConfig.pm:Z
Volume=/store/attachments/:/attachments:Z

PublishPort=8080:8080

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
